.w-102{
    font-family: sans-serif;
}


.sd-online-booking-main {
    padding: 60px 60px 0
}

.sd-online-booking-main .sd-online-booking-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px 30px 30px
}

.sd-online-booking-main .sd-online-booking-top h1 {
    font-size: 30px;
    color: #3c3eb1;
    padding-bottom: 10px;
    letter-spacing: 0;
    font-weight: 400;
    text-align: center
}

.sd-online-booking-main .sd-online-booking-top h1 span {
    font-weight: 600
}

.sd-online-booking-main .sd-online-booking-top img {
    height: 10px
}

.sd-online-booking-main .sd-online-booking-bottom {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.sd-online-booking-main .sd-online-booking-bottom .sd-online-booking-div {
    overflow: hidden;
    padding: 18px 18px 20px;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px
}

.sd-online-booking-main .sd-online-booking-bottom .sd-online-booking-div .head-image {
    width: 100%;
    height: 300px;
    background-image: url(./seva.png);
    border-radius: 4px;
    align-self: center;
    object-fit: contain !important
}

.sd-online-booking-main .sd-online-booking-bottom .sd-online-booking-div h4 {
    text-align: center;
    color: #3c3eb1;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    padding: 15px 0 5px
}

.sd-online-booking-main .sd-online-booking-bottom .sd-online-booking-div h5 {
    text-align: center;
    letter-spacing: .3px;
    font-size: 15px;
    font-weight: 400;
    font-family: sans-serif;
    color: #181818;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 20px
}

.sd-online-booking-main .sd-online-booking-bottom .sd-online-booking-div h6 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 0;
    font-size: 15px;
    font-weight: 600;
    color: #f58220;
    margin-bottom: 0;
    cursor: pointer
}

.sd-online-booking-main .sd-online-booking-bottom .sd-online-booking-div h6 img {
    height: 11px;
    margin-left: 5px;
    -webkit-filter: invert(1);
    filter: invert(1)
}

.sd-online-booking-main .sd-online-booking-bottom .sd-online-booking-div button {
    margin-top: 10px;
    color: #fff;
    background-color: #e9572e;
    border: none;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 6px 13px;
    border-radius: 3px;
    font-weight: 600;
    letter-spacing: .3px;
    white-space: nowrap
}

.sd-online-booking-main .sd-online-booking-bottom .sd-online-booking-div button .imgs {
    height: 11px;
    margin-left: 5px;
    margin-top: 1.5px
}





@media only screen and (min-width:1600px) {
    .sd-online-booking-main .sd-online-booking-bottom {
        justify-content: center
    }

    .sd-online-booking-main .sd-online-booking-bottom .sd-online-booking-div {
        width: 400px;
        margin: 10px
    }

    .sd-online-booking-main .sd-online-booking-bottom .sd-online-booking-div .sd-timings {
        width: 400px
    }
}

@media only screen and (max-width:1300px)and (min-width:900px) {
    .sd-online-booking-main {
        padding: 30px
    }

    .sd-online-booking-main .sd-online-booking-bottom .sd-online-booking-div {
        margin-bottom: 20px;
        width: 330px
    }

    .sd-online-booking-main .sd-online-booking-bottom .sd-online-booking-div .sd-timings {
        width: 330px
    }
}

@media only screen and (max-width:900px)and (min-width:650px) {
    .sd-online-booking-main {
        padding: 30px
    }

    .sd-online-booking-main .sd-online-booking-bottom {
        padding-left: 30px;
        padding-right: 30px
    }

    .sd-online-booking-main .sd-online-booking-bottom .sd-online-booking-div {
        width: 300px;
        margin-bottom: 20px
    }

    .sd-online-booking-main .sd-online-booking-bottom .sd-online-booking-div .sd-timings {
        width: 400px
    }

    .sd-online-booking-main .sd-online-booking-bottom .sd-online-booking-div .sd-timings h3 {
        font-size: 13px
    }
}

@media only screen and (min-width:420px)and (max-width:650px) {
    .sd-online-booking-main {
        padding: 30px
    }

    .sd-online-booking-main .sd-online-booking-bottom {
        padding-left: 0;
        padding-right: 0
    }

    .sd-online-booking-main .sd-online-booking-bottom .sd-online-booking-div {
        width: 320px;
        margin-bottom: 20px
    }

    .sd-online-booking-main .sd-online-booking-bottom .sd-online-booking-div .sd-timings {
        width: 320px
    }

    .sd-online-booking-main .sd-online-booking-bottom .sd-online-booking-div .sd-timings h3 {
        font-size: 13px
    }
}

@media only screen and (max-width:420px) {
    .sd-online-booking-main {
        padding: 30px 0
    }

    .sd-online-booking-main .sd-online-booking-bottom {
        justify-content: center;
        padding: 0
    }

    .sd-online-booking-main .sd-online-booking-bottom .sd-online-booking-div,
    .sd-online-booking-main .sd-online-booking-bottom .sd-online-booking-div .sd-timings {
        width: 284px
    }
}